root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_brace_style = Allman
ij_any_brace_style = Allman
trim_trailing_whitespace = true

[*.md]
[*.{js,json,yml}]
charset = utf-8
indent_style = space
indent_size = 2

[*.js]
ij_javascript_block_brace_style = next_line
ij_javascript_class_brace_style = next_line
ij_javascript_method_brace_style = next_line
ij_javascript_function_expression_brace_style = end_of_line
